---
# Only the main Sass file needs front matter (the dashes are enough)
---


// Our variables

//$black : #2f302a;
$black : #000000;
$white:#EFEFEA;
$pure-white:#FFFFFF;
//$white : #F8F9F5;
$blue : #6fc0bb;


$serif: 'Trocchi',georgia,serif;
$sans: 'Roboto Condensed', sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.75;
$base-line-height: 1.6;

$spacing-unit:     2.5rem;
$width: 75%;
$margin: 100% - $width;

$text-color:       $black;
$background-color: $white;
$brand-color:      $blue;

$grey-color:       mix($white,$black,50%);
$grey-color-light-4: mix($white,$black,50%);
$grey-color-light-3: mix($white,$black,75%);
$grey-color-light-2: mix($white,$black,92%);
$grey-color-light-1: mix($white,$black,95%);
$grey-color-dark:  mix($white,$black,30%);

$on-iphone:		320px;
$on-android:	360px;
$on-palm:		600px;
$on-tablet-vertical:   768px;
$on-tablet-horizontal:   960px;
$on-laptop:		1024px;




// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

@mixin media-query($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}

@mixin font-feature($features...) {
  $font-feature-settings: "liga", "dlig";

  @if length($features) > 0 {
    $font-feature-settings: $features;
  }

  -webkit-font-feature-settings: $font-feature-settings;
  -moz-font-feature-settings: $font-feature-settings;
  -ms-font-feature-settings: $font-feature-settings;
  font-feature-settings: $font-feature-settings;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout";

// "syntax-highlighting"