@font-face {
  font-family: 'Trocchi';
  src: url('fonts/Trocchi.eot'); /* IE9 Compat Modes */
  src: url('fonts/Trocchi.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Trocchi.woff2') format('woff2'), /* Modern Browsers */
       url('fonts/Trocchi.woff') format('woff'); /* Modern Browsers */

  font-style:   normal;
  font-weight:  200;
  text-rendering: optimizeLegibility;
}





/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
    //text-rendering : optimizeLegibility;
}

* {
    box-sizing: border-box;
}


// * * * * * * * * MARGINS * * * * * * * * *

h1, h2, h3, h4, h5, h6,
p {

    max-width: $width;
    margin-left: auto;
    margin-right: auto;

}

blockquote, pre, hr,
dl, dd, ol, ul, figure {

    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}




/**
 * Basic styling 
 */
body {
    font-family: $serif;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}

strong {
    background-color: $black;
    color: $white;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    font-weight: normal;
}

.fullwidth {
    margin-left: 0px;
    margin-right: 0px;
    max-width: none;
    text-align: center;
    img {
        width: 100%;
        height: auto;
    }
    &.image {
        width: 100%;
        padding-top: 2.5rem;
        background-color: $black;
        color: $white;
        margin-bottom: 0px;
    }
}

@include media-query($on-laptop) {
    .fullwidth img {
        width: 90%;
    }
}

.credit {
    font-size: 13px;
    font-family: $sans;
    line-height: 1.5em;
    strong {
        font-weight: bold;
    }
}

blockquote+[class],.image+[class] {
    box-sizing: content-box;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    max-width: 100%;
    background-color: $black;
    color: $white;
    padding-right: 15%;
    padding-left: 15%;
    padding-top: 1rem;
    padding-bottom: 2.5rem;
}

blockquote+.credit {
    padding-top: 2.5rem;
    text-align: right;
    background: $black;
}
blockquote+.note,,.image+.note {
    padding-top: $spacing-unit;
    padding-right: $width/4;
    padding-left: $width/4;
    font-size: 15px;
    text-align: justify;
    padding: 2.5rem  15% 6rem 15%;
    
}


blockquote+.credit {
    padding-top: 2.5rem;
    text-align: right;
}



// .note {
//     &.small {
//         font-family: $sans;
//         font-size: 15px;
//         color: $white;
//         background-color: $black;
//     }
// }

.punchline {
    box-sizing: content-box;
    margin:  $spacing-unit 0px;
    max-width: 100%;
    background-color: $black;
    color: $white;
    padding: 1.5em  15% 4.5em 15%;
    font-size: 50px;
    line-height: 1em;
    @include font-feature("dlig");
}


.image+.punchline {
    padding: 2.5rem  15% 6rem 15%;
    font-size: 26px;
    line-height: 1.25em;
    
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit;
}



/**
 * Images
 */
img {
    -webkit-filter: grayscale(100%) sepia(15%);
  // -webkit-filter: grayscale(100%);
  // filter: grayscale(100%);
  // filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
  // filter: gray;
  width: 100%;
}


/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-family: $sans;
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $brand-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $white;
    background-color:$black; 
    font-size: 26px;
    //letter-spacing: -0.025em;
    line-height: 1.2em;
    margin: $spacing-unit auto;
    padding: $spacing-unit 0;

    > :last-child {
        margin-bottom: 0;
    }
    margin-bottom: 0px;
    padding-bottom: 0px;
    &:before {
        float: left;
        content: "« ";
        position: relative;
        left: calc((100% - #{$width}) / 3);
    }
    p {
        max-width: $width;
    }
    
}


// * * * * * * * TWITTER * * * * * * * * * * 


.auteur {
    padding: $spacing-unit 0 ; 
    font-family: $serif;
    font-size: small;
    color:$grey-color-light-4;
    &::before {
        content: "— ";
        margin-left:-12px;
    }
    & a {
        
        border-left: 1px solid $grey-color-light-3;
        padding-left: 24px;
        margin-left: 24px; 
    }
}

// * * * * * * * FICHE * * * * * * * * * * 

// * * * * * * * FICHE * * * * * * * * * * 



.fiche {
        padding : $spacing-unit/6 0;
        color: $white;
        background-color:$black; 
        font-size: 13px;
        font-family: $sans;
        line-height: 1em;
        margin-bottom: 0em;
        //color:red;
       

        &.description{
            font-size: 14px;
            line-height: 1.5em;
            letter-spacing: 0.050em;

        }

        &.info {
            font-weight: 500;
            font-size: 12px;
            letter-spacing: 0.1em;
            //text-transform: uppercase;
        }


}








/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light-1;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$on-laptop} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$on-laptop} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    @extend %clearfix;
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

iframe {
    margin-left: auto !important; 
    margin-right: auto !important;
    margin-bottom: 35px !important;
}


//* * * * * * * * * LOGO * * * * * * * * * * *

.logo {
    max-width: 140px;
    display: block;

} 
