/**
 * Site header
 */
.site-header {
    // border-top: 5px solid $white;
    // border-bottom: 1px solid $black;
    min-height: 56px;
    background-color: $black;

    // Positioning context for the mobile navigation icon
    position: relative;
        
    & .logo-rdc{
            vertical-align: middle;
    }

    // display: none;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $white;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    // @include media-query($on-iphone) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $white;
        border: 1px solid $grey-color-light-1;
        border-radius: 5px;
        text-align: right;

        // .menu-icon {
        //     display: block;
        //     float: right;
        //     width: 36px;
        //     height: 26px;
        //     line-height: 0;
        //     padding-top: 10px;
        //     text-align: center;

        //     > svg {
        //         width: 18px;
        //         height: 15px;

        //         path {
        //             fill: $grey-color-dark;
        //         }
        //     }
        // }

        // .trigger {
        //     clear: both;
        //     display: none;
        // }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    // }
}


// * * * * * * * * * * * HOME * * * * * * * * * * * * * 

.home {

    //background-color: $black;


}




/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light-1;
    padding: $spacing-unit 0;
    & .text {
        font-family: $sans;
        font-weight: 500;
        //line-height: 1.2em;

    }
    & .logo {

        margin-top: $spacing-unit;
    }



}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit/2;
    }
}

.post-meta {
    font-family: $sans;
    font-size: $small-font-size;
    color: $black;
}

.post-link {
    display: block;
    font-size: 24px;
    line-height: $base-line-height/1.5;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
    // padding-right: $spacing-unit;
    // padding-left: $spacing-unit;
}

.post-title {
    font-size: 34px;
    letter-spacing: -0.025em;
    line-height: 40px;
    margin-bottom: $spacing-unit;



    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;
        line-height: 1.2em;


        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    .relance {
        
        font-family: $sans;
        font-weight: 900;
        font-size: 14px;
        background-color: $pure-white;
        color: $black;
        border-radius: 3px;
        box-shadow: 0px 0px 3px rgba($black,0.5);
        padding :15px;

        a {
            color: $black;
            font-weight: 300;
        }

    }
}
.related {

        background-color: mix($white,$black, 95%);
        border-top: 1px solid mix($white,$black, 90%);
        font-size: 13px;
        padding-bottom: $spacing-unit*2;

        h4 {
            text-align: center;
            font-size: 16px;
            font-family: $sans;
            text-transform: uppercase;
            color: mix($white,$black, 60%);
            padding-top: $spacing-unit;
        }

        ul {
                list-style-type: none;
                margin-left: $spacing-unit/2;
                margin-right: $spacing-unit/2;
        }

        li {
            width: 100%;
            float: left;


            .post-container{

            width: 100%;
            background-color: $pure-white;
            color: $black;
            border-radius: 3px;
            box-shadow: 0px 0px 3px rgba($black,0.5);
            margin-bottom: $spacing-unit/2;

            }

            img {
                width : 30% ;
                vertical-align: top;

            }
            .meta-container{

                display: inline-block;
                width:58%;
                vertical-align: top;
                margin: 4%;
                box-sizing: border-box;
                padding: 0px;


                .post-link{
                    font-size: 12px;
                    color: $black;
                    line-height: 1.2em;
                }

                .post-meta {
                    display: none;

                }
            }

        }



    }

@include media-query($on-android) {
    .related {
        //background-color: green;
        li {
            
            .meta-container{
                //margin: 3% 3%;
                .post-link{
                    font-size: 13px;
                }
                .post-meta {
                    padding-bottom: 1%;
                    font-size: 11px;
                    display: block;

                }

            }

        }
    }
}


@include media-query($on-palm) {
    .related {
        //background-color: yellow;
        li {
            width: 50%;
            float: left;

            .post-container {
                 width:90%;
                 text-align: center;
                 margin : auto;
                }

            img {
                width : 100% ;
                vertical-align: top;

            }

            .meta-container{

                width:90%;
                margin: 5%;

                .post-link{
                    font-size: 22px;
                    line-height: 1.2em;
                    margin: 2% 4% 7%;
                }

                .post-meta {
                    //display: none;

                }
            }


            }
            
        }
    }
